@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=block");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=block");
:root {
  --color-main: #ffa48d;
  --color-second: #fd3c84;
  --color-third: #06b6d4;
  --color-pre: #322931;
  --color-hljs1: #776C75;
  --color-hljs2: #5c545b;
  --color-hljs3: #413C41;
  --color-bg1: #192339;
  --color-bg2: #111827;
  --color-bg3: #090D15;
  --font-base: 28;
  --font-break: 1024;
  --font-size-base: calc(var(--font-base) * 1px);
  --font-size-break: calc(var(--font-break) * 1px);
  --font-size-resp: calc(var(--font-base) * 100 / var(--font-break) * 1vw);
  --font-size: min(var(--font-size-resp), var(--font-size-base));
  --font-family: Rubik;
  --font-monospace: JetBrains Mono;
  --logo: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.0' viewBox='0 0 1040 264'%3E%3Cpath fill='%23fd3c84' d='M196.3 11.3a22 22 0 0 0-10.9 9.7l-2.7 4.6v206l3 4.8c6 9.6 19 13.4 28.8 8.5 2.2-1.2 28.2-17.3 57.6-35.9l72.7-45.7c29.6-18.5 29.8-18.7 32.7-24.3a23 23 0 0 0-7.3-29.4L267.8 45a2106 2106 0 0 0-52.3-32.3c-6-3-14.4-3.7-19.2-1.5m24.5 23.2 50.5 31.7L320 96.8l25.7 16.2c19.3 12 20.4 13.2 17.6 18.5-.5 1-23 15.7-50 32.7L236 213c-30.2 19-33 20.1-36.1 15.6-1.4-2-1.6-13.1-1.6-100.4 0-96.8 0-98.1 2-100.1 3.4-3.4 6.6-2.4 20.5 6.4m419.5 14.2v34.6h16.1V43.6l3.9 6c2 3.4 6.7 10.7 10.2 16.3l6.4 10.4h8.3l8.6-14.7c13-22.4 11.9-22.5 12 1.3v20.4h7c8.6 0 8.6 0 8.5-2.5l-.3-34.5-.1-32.3h-14.6l-12.1 20.3c-6.6 11-12.5 20.2-13 20.2s-6.7-9.2-13.7-20.2L655 14h-14.6zm96.7 0v34.6h17V14h-17zm32.7 0v34.7l22.7-.3c22.4-.3 22.7-.3 28.7-3.1a35 35 0 0 0 16.4-15.3 43 43 0 0 0 1.8-27.4 34 34 0 0 0-23-21.5c-5-1.5-9.3-1.8-26.2-1.8h-20.4zM812.3 30a20 20 0 0 1 11.3 19c0 6.4-1.3 9.8-5.4 14.1-4.9 5.1-8.2 6.1-20.8 6.1h-11V28.1h11c9 0 11.9.4 15 1.9M852 48.7l.3 34.6h16.6V14h-17.2z'/%3E%3Cpath fill='%23fd3c84' d='m799 187.7-8.1.5-11.8 26-14.8 32.9-3 6.8H778l2.7-7 2.8-7h31.8l3 7 3.2 7h8c4.6 0 8.2-.4 8.2-.9 0-1.2-29.2-64.7-30-65.3-.4-.3-4.4-.3-8.8 0m5.8 27.4c2.6 6 4.7 11.4 4.7 11.7s-4.4.4-10 .2l-10-.3 4.8-11.4a82 82 0 0 1 5.1-11.6c.3 0 2.6 5.1 5.4 11.4m-164.4 5.7v33.1h15.1v-19.1h10.4c17 0 26-4 30.5-13.3a23 23 0 0 0-4.1-26.4c-6.6-6.5-10.8-7.4-33-7.4h-18.9zm36.8-18.9c6 2.7 7.2 11 2.6 16l-3 3.4H656l-.3-10.4-.3-10.2h9.6c5.2 0 10.8.5 12.2 1.2m31.8 18.6.3 32.9h49.3v-13h-33.2l-.3-26.4-.2-26.3h-16.1zM831.6 188c0 .4 5.6 9.5 12.4 20.4l12.3 20 .5 12.5.5 12.5h16.1l-.3-11-.4-11 11.4-18.6c6.1-10.3 12.2-20.1 13.3-22l1.9-3.1h-8.2c-7.3 0-8.2.2-9.4 2.2l-8.4 13.5a83 83 0 0 1-7.6 11.4c-.3 0-4.4-6.2-8.9-13.6l-8.2-13.5H840c-4.6 0-8.5.2-8.5.4m74.7 32.7v33.1h52.3v-13h-36.2v-15.1h31.2v-12h-31.2v-14.1h35.2v-12h-51.3zm64.4 0V254l7.8-.3 7.8-.3.3-9.3.3-9.3h6.8l6.7.1 6.3 9.5 6.5 9.5h8.4c4.7 0 8.5-.2 8.5-.5s-3.3-5.3-7.2-11.2c-5.6-8-7-10.8-5.9-11.2.8-.3 3.4-2.4 5.7-4.7 12-12.2 5.7-33-11.2-37.5-2.2-.6-12.3-1.1-22.4-1.1h-18.4zm37.2-18.6c4.3 2.1 5.8 7.8 3.7 12.9-2.1 5-6.3 6.7-16.7 6.7h-8.1v-21.1h9q9.3 0 12.1 1.5'/%3E%3Cpath fill='%23ffa48d' d='M918.2 102.9c-9.5 2.7-18 9.6-22.3 18.3-2 4-2.3 6.3-2.3 14.3 0 8.4.3 10.1 2.7 14.5 3.2 6 9.8 12.6 15.6 15.5a50 50 0 0 0 11.2 3.2c12.4 2 26-2.3 33.4-10.8a33.6 33.6 0 0 0 0-45 39 39 0 0 0-38.3-10M941 119c14.2 11.5 8.1 34.6-9.6 36.3a20.4 20.4 0 0 1-20.3-29.4c3.5-7.7 9-10.6 19-10.2 6.3.2 7.6.6 10.9 3.3m-277.2-15.4c-1.4 1.8-27.4 59.7-28.1 62.6-.6 2.4-.5 2.4 7 2.4h7.8l3.1-7 3.1-7h30.6l3.3 7 3 7h8.1c4.5 0 8.1-.3 8.1-.8s-6.6-15.3-14.7-33.1l-14.8-32.3h-7.8q-7.7 0-8.7 1.2m13.7 27.2c2.2 5.4 4.1 10.2 4.1 10.7s-4 1-9.6 1c-5.2 0-9.5-.4-9.5-1a86 86 0 0 1 3.6-9.2l4.5-10.8c1.3-3.2 2-2.4 6.9 9.3m37.3-6.1c0 24.3.6 28 5.6 34.5 1.4 1.9 5.4 4.7 9.2 6.6a26 26 0 0 0 15.3 3.2c10.8-.1 17.6-2.7 23.1-9 6-6.8 6.5-9.3 7-34.9l.5-22.7H759v21c0 23.7-.6 26.7-6.2 30.1-6.4 4-16.7 1.8-20.1-4.2-1-1.6-1.4-8.8-1.9-24.4l-.5-22-7.7-.3-7.9-.4zm74.6 10.8v33h14.9c25.2 0 35.2-2.5 43-11.2a28 28 0 0 0 8-21.8c0-9.7-1.8-15-7.5-21.4-8.1-9.2-16.8-11.7-41-11.7h-17.4zm35.7-19c11.6 3.1 17.3 14.7 13.2 26.3-3.2 8.8-8.9 11.7-22.8 11.7h-10v-39.1h7.8c4.2 0 9.6.5 11.8 1.1m41.3-12.8c-.3.7-.4 15.4-.3 32.8l.3 31.6 7.8.3 7.8.3v-66.3h-7.6q-7.7 0-8 1.3'/%3E%3Cpath fill='%23ffa48d' d='M10 42.1v4h118.8v35.2H10v8h118.8v26l-5.2-.2a27 27 0 0 0-18.8 6l-4 3.3H10v8h53.4v35.2H10v8h53.4v26l-4-.6a28 28 0 0 0-18.9 6.2l-4.1 3.5H10v8h11.7q11.5 0 11 1c-1 1.7 1.3 7.6 3.8 10 1.2 1 4.1 2.5 6.4 3.2a27 27 0 0 0 26.7-10.3l2.3-3.7 50.7-.1h50.6l-.3-3.8-.3-3.8-50-.3-50.2-.2v-35.1h19.2v4.6c0 5.4 1.4 5.2 3-.6l1.3-4h77.3l-.3-3.8-.3-3.7-37.7-.1-37.8-.1-1-3a32 32 0 0 0-11.6-17.5c-6.8-6.1-11-11.3-11-13.8 0-.7 3.7-1.1 12-1.1h12.1v2.5c0 7.5 6 12 16.1 12 8.3 0 16-3.9 20.6-10.3l3-4.2h35.9v-8h-35.3V89.2H156v4.5c0 2.5.4 4.5 1 4.5.3 0 1.3-2 2-4.5l1.3-4.5h12.8v-8h-11.9l-.7-3.7c-1-6-2.9-8.7-10.6-15.8-7.8-7.1-12-12.2-12-14.3 0-1 3.8-1.4 17.7-1.4h17.6l-.3-3.8-.3-3.7-81.2-.3L10 38zm133.2 28.2c5.3 2.7 7.6 4.7 9.4 8.2l1.5 2.8h-16.2v-6.5c0-3.7.2-6.6.5-6.6s2.5 1 4.8 2.1m-61.4 88a34 34 0 0 1 6 6l2 3.3H72.3v-13.3l2.8.6c1.6.4 4.5 2 6.6 3.5M275.8 38.8c0 .5 2.5 2.3 5.5 4l5.4 3.3h149.2v35.2l-46 .2-46.1.3 6 3.7 6 3.8h80.1v25.8h-6.3c-7.2 0-15.2 3-19 7-2 2.1-3 2.3-11.6 2.3h-9.4v8h15.1v2.8c0 7.6 8.5 13.1 18.1 12 7-.8 14.8-5.3 18.6-10.5l3-4.2h34.8v35.1h-58c-32.1 0-60.3.3-62.8.6-2.6.4-6.7 1.9-9.6 3.7l-5 3.2 67.8.3 67.6.2v25.6H473c-7.3.1-14 2.6-18 6.8l-2.5 2.7H287.6l-5.3 3.2a25 25 0 0 0-6 4c-.4.5 32 .9 85.4.9h86l.7 3.9c2 12.5 20.9 14.8 33.1 4.1 2.6-2.3 5-5 5.3-6 .6-2 1.9-2 58-2H602v-8H488.3v-35.2h19.1l.1 4.7.1 4.9 2.1-4.9 2.1-4.7H602v-8h-90.6v-2.7c0-4.8-4-11.3-11.2-17.7-6.7-6-11-11.2-11-13.6q-.2-1 12.2-1.1h12v2.6c0 6.2 7.6 12.4 15.3 12.4 8.3 0 17.3-4.5 21.8-11l2.7-4h48.9v-8h-48.4V89.2H573V94l.2 4.8 2-4.8 2-4.7h25v-8H577v-2.7q0-7.4-12.2-18.4c-6.8-6.1-11-11.2-11-13.6 0-.3 11-.5 24.2-.5h24.2v-8H438.9c-89.7 0-163 .3-163 .7m268.9 25v17.5h-76.4l-.7-4q-1.4-8.1-11.7-16.8c-6.4-5.4-9.3-8.8-10.3-12.1l-.7-2.3h99.8zm-93.7 7c4.3 2 10.1 7.8 10.1 9.8 0 .4-3.6.7-8 .7H445v-6.5c0-3.7.2-6.6.5-6.6s2.8 1.1 5.5 2.5m110.9 1c3.6 2.3 8 7 8 8.6 0 .5-3.7.9-8.1.9h-8v-6.7c0-6.3 0-6.5 2.2-5.8 1.3.4 3.9 1.7 5.9 3M463.5 92c.4 1.4.4 3.4.1 4.5-1.2 3.7.6 2 2.6-2.6l2-4.5h76.5v26l-6.4-.1c-7 0-12 1.7-17.8 6.2l-3.8 3H445V89.3h9c8.7 0 9 0 9.5 2.6m33.6 66.2c3.5 2.3 9.1 9 8.2 9.8-.2.2-4.1 0-8.7-.1l-8.3-.4v-6.5c0-6.6 0-6.6 2.6-6 1.4.4 4.2 1.8 6.2 3.2'/%3E%3C/svg%3E");
  --icon-mail: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23ffa48d' d='m31.1 1.4-.3-.3V1h-.2c-.2-.2-.3-.2-.5-.2H30l-.6.1-28 16a1.3 1.3 0 0 0 0 2.2l9.3 4.3V30c0 .5.3.9.7 1.1l.6.2c.3 0 .5-.1.7-.3l6-4 8.8 4.1.5.2c.7 0 1.2-.6 1.2-1.2l2-28v-.7zm-7 5.4L11.7 21l-6.9-3.2zM13.3 27.7v-3.1l2.8 1.3zM27 28l-7.7-3.5L14 22 28.5 5.6z'/%3E%3C/svg%3E");
  --icon-link: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='%23ffa48d' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24'%3E%3Cpath d='M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6m4-3h6v6m-11 5L21 3'/%3E%3C/svg%3E");
  --btn-play: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 64 64'%3E%3Cpath fill='%23ffa48d' d='M32 0A32 32 0 0 0 0 32a32 32 0 0 0 32 32 32 32 0 0 0 32-32A32 32 0 0 0 32 0m19.8 51.8a28 28 0 0 1-39.6 0 28 28 0 0 1 0-39.6 28 28 0 0 1 39.6 0 28 28 0 0 1 0 39.6'/%3E%3Cpath fill='%23ffa48d' d='m42.2 30.4-14-11A2 2 0 0 0 25 21v22a2 2 0 0 0 3.2 1.6l14-11a2 2 0 0 0 0-3.2M29 39V25l8.8 6.9z'/%3E%3C/svg%3E");
  --btn-play-active: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 64 64'%3E%3Cpath fill='%2306b6d4' d='M32 0A32 32 0 0 0 0 32a32 32 0 0 0 32 32 32 32 0 0 0 32-32A32 32 0 0 0 32 0m19.8 51.8a28 28 0 0 1-39.6 0 28 28 0 0 1 0-39.6 28 28 0 0 1 39.6 0 28 28 0 0 1 0 39.6'/%3E%3Cpath fill='%2306b6d4' d='m42.2 30.4-14-11A2 2 0 0 0 25 21v22a2 2 0 0 0 3.2 1.6l14-11a2 2 0 0 0 0-3.2M29 39V25l8.8 6.9z'/%3E%3C/svg%3E");
  --btn-stop: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 64 64'%3E%3Cpath fill='%23ffa48d' d='M32 0A32 32 0 0 0 0 32a32 32 0 0 0 32 32 32 32 0 0 0 32-32A32 32 0 0 0 32 0m19.8 51.8a28 28 0 0 1-39.6 0 28 28 0 0 1 0-39.6 28 28 0 0 1 39.6 0 28 28 0 0 1 0 39.6'/%3E%3Cpath fill='%23ffa48d' d='M42 20H22a2 2 0 0 0-2 2v20q.2 1.8 2 2h20a2 2 0 0 0 2-2V22a2 2 0 0 0-2-2m-2 20H24V24h16z'/%3E%3C/svg%3E");
  --btn-stop-active: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 64 64'%3E%3Cpath fill='%2306b6d4' d='M32 0A32 32 0 0 0 0 32a32 32 0 0 0 32 32 32 32 0 0 0 32-32A32 32 0 0 0 32 0m19.8 51.8a28 28 0 0 1-39.6 0 28 28 0 0 1 0-39.6 28 28 0 0 1 39.6 0 28 28 0 0 1 0 39.6'/%3E%3Cpath fill='%2306b6d4' d='M42 20H22a2 2 0 0 0-2 2v20q.2 1.8 2 2h20a2 2 0 0 0 2-2V22a2 2 0 0 0-2-2m-2 20H24V24h16z'/%3E%3C/svg%3E");
  --btn-pause: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 64 64'%3E%3Cpath fill='%23ffa48d' d='M24 21a2 2 0 0 0-2 2v18a2 2 0 0 0 4 0V23a2 2 0 0 0-2-2m16 0a2 2 0 0 0-2 2v18a2 2 0 0 0 4 0V23a2 2 0 0 0-2-2'/%3E%3Cpath fill='%23ffa48d' d='M32 0A32 32 0 0 0 0 32a32 32 0 0 0 32 32 32 32 0 0 0 32-32A32 32 0 0 0 32 0m19.8 51.8a28 28 0 0 1-39.6 0 28 28 0 0 1 0-39.6 28 28 0 0 1 39.6 0 28 28 0 0 1 0 39.6'/%3E%3C/svg%3E");
  --btn-pause-active: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 64 64'%3E%3Cpath fill='%2306b6d4' d='M24 21a2 2 0 0 0-2 2v18a2 2 0 0 0 4 0V23a2 2 0 0 0-2-2m16 0a2 2 0 0 0-2 2v18a2 2 0 0 0 4 0V23a2 2 0 0 0-2-2'/%3E%3Cpath fill='%2306b6d4' d='M32 0A32 32 0 0 0 0 32a32 32 0 0 0 32 32 32 32 0 0 0 32-32A32 32 0 0 0 32 0m19.8 51.8a28 28 0 0 1-39.6 0 28 28 0 0 1 0-39.6 28 28 0 0 1 39.6 0 28 28 0 0 1 0 39.6'/%3E%3C/svg%3E");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--font-size);
  font-family: Rubik;
}

body {
  position: relative;
  min-height: 100vh;
  background-image: linear-gradient(135deg, var(--color-bg1) 0%, var(--color-bg2) 50%, var(--color-bg3) 100%);
  display: flex;
  justify-content: top;
  align-items: center;
  flex-direction: column;
  padding-top: 1rem;
  color: var(--color-main);
}

header {
  position: relative;
  width: 100%;
  max-width: var(--font-size-break);
  border-bottom: 0.2rem solid var(--color-third);
  background-image: var(--logo);
  background-position: top center;
  background-size: 95%;
  background-repeat: no-repeat;
  aspect-ratio: 130/36;
}

main {
  position: relative;
  width: 100%;
  max-width: var(--font-size-break);
  display: flex;
  flex-direction: column;
  align-items: top;
  padding: 3rem 1rem;
  row-gap: 2rem;
}

h1 {
  opacity: 0;
}

h2, h3, h4 {
  color: var(--color-second);
  margin-bottom: 1rem;
}

h3 {
  margin-top: 1.5rem;
}

p:not(:last-child) {
  margin-bottom: 1rem;
}

p:not(:first-child) {
  margin-top: 1rem;
}

ul {
  padding-left: 0;
  list-style-position: outside;
  margin-left: 1rem;
}

li:not(:first-child) {
  margin-top: 0.3rem;
}

a {
  color: var(--color-main);
  font-weight: 500;
  text-decoration: none;
  background-image: linear-gradient(var(--color-third), var(--color-third));
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% 15%;
  transition-duration: 50ms;
}
a:hover {
  transition-duration: 200ms;
  background-size: 100% 100%;
}
a[target=_blank]::after {
  content: "";
  display: inline-block;
  width: 1em;
  aspect-ratio: 1/1;
  background-image: var(--icon-link);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 0.2em;
}

hr {
  border: none;
  height: 0.2em;
  background: var(--color-third);
}

pre code.hljs, .logs {
  font-size: 0.7rem;
  font-family: var(--font-monospace);
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--color-hljs2) var(--color-hljs3);
}
pre code.hljs::-webkit-scrollbar, .logs::-webkit-scrollbar {
  height: 0.2rem;
}
pre code.hljs::-webkit-scrollbar-track, .logs::-webkit-scrollbar-track {
  background: var(--color-hljs3);
  border-radius: 0.1rem;
}
pre code.hljs::-webkit-scrollbar-thumb, .logs::-webkit-scrollbar-thumb {
  background-color: var(--color-hljs2);
  border-radius: 0.1rem;
  border: 0.05rem solid var(--color-hljs3);
}
pre code.hljs::-webkit-scrollbar-thumb:hover, .logs::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-hljs1);
}

section {
  position: relative;
}

main:has(section:first-child .controls) {
  padding: 1rem 1rem;
}

section:has(.dnd) {
  --show: flex;
  --opacity: 0;
}
section:has(.dnd):hover:has(:not(.dnd.show)) {
  --show: none;
}
section:has(.dnd) > .dnd {
  position: absolute;
  inset: 0;
  background-color: var(--color-pre);
  border: 0.4rem dashed var(--color-second);
  border-radius: 0.2rem;
  color: var(--color-second);
  display: var(--show);
  opacity: var(--opacity);
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;
  z-index: 10000;
}
section:has(.dnd) > .dnd:hover, section:has(.dnd) > .dnd.dragover {
  color: var(--color-third);
  border-color: var(--color-third);
  opacity: 0.8;
}
section:has(.dnd) > .dnd.show {
  --show: flex;
  --opacity: 0.8;
}

section:has(.instruments),
section:has(.controls) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 1rem;
}

.controls {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  user-select: none;
  column-gap: 4rem;
  width: 80%;
  background-color: var(--color-pre);
  padding: 1rem;
  border-radius: 0.2rem;
  transition: filter 200ms, opacity 200ms;
}
.controls.disabled .btn {
  pointer-events: none;
  filter: saturate(0%);
  opacity: 0.5;
}

.waveform {
  --progress: 0%;
  --pad: 0.5rem;
  --time: "0:00";
  --duration: "0:00";
  position: relative;
  width: 80%;
  padding: var(--pad);
  background-color: var(--color-pre);
  user-select: none;
  border-radius: 0.2rem;
}
.waveform.disabled svg {
  filter: saturate(0%);
  opacity: 0.5;
}
.waveform.disabled {
  pointer-events: none;
}
.waveform__container {
  position: relative;
  width: 100%;
  aspect-ratio: 5/1;
}
.waveform__container::before {
  content: var(--time);
  position: absolute;
  display: block;
  top: 0.2rem;
  left: 0.2rem;
  font-size: 0.7rem;
  font-family: var(--font-monospace);
  text-shadow: 0 0 0.4rem black, 0 0 0.2rem black, 0 0 0.1rem black;
  z-index: 10;
}
.waveform__container::after {
  content: var(--duration);
  display: inline-block;
  position: absolute;
  display: block;
  top: 0.2rem;
  right: 0.2rem;
  font-size: 0.7rem;
  font-family: var(--font-monospace);
  text-shadow: 0 0 0.4rem black, 0 0 0.2rem black, 0 0 0.1rem black;
  z-index: 10;
}
.waveform__progress {
  position: absolute;
  inset: var(--pad);
}
.waveform__pointer {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--progress);
  height: 100%;
  border-right: 0.1rem solid var(--color-second);
  background-color: rgba(0, 0, 0, 0.2);
  transition: width 50ms linear;
  box-shadow: 0.3125rem 0rem 0.3125rem -0.125rem rgba(0, 0, 0, 0.3);
}
.waveform__click {
  position: absolute;
  inset: var(--pad);
  z-index: 20;
  cursor: pointer;
}
.waveform .midiaudioplayer-waveform {
  stroke: var(--color-third);
  stroke-width: 2px;
}

.meter {
  position: absolute;
  top: 0;
  right: 0rem;
  height: 100%;
  aspect-ratio: 1/10;
}
.meter__background {
  fill: var(--color-pre);
}
.meter__inner {
  fill: black;
  opacity: 0.5;
}
.meter svg .meter__bands rect:nth-of-type(-n+3) {
  fill: var(--color-third);
}
.meter svg .meter__bands rect:nth-of-type(n+4):nth-of-type(-n+7) {
  fill: var(--color-second);
}
.meter svg .meter__bands rect:nth-last-of-type(-n+29) {
  fill: var(--color-main);
}
.meter svg .meter__bands > .meter__band {
  opacity: 0.3;
  transition: opacity 150ms ease-out;
}

.dbvol {
  position: absolute;
  top: 0;
  left: 0rem;
  height: 100%;
  aspect-ratio: 1/10;
}
.dbvol:hover .dbvol__slider rect {
  fill: #444;
}
.dbvol__input {
  writing-mode: vertical-lr;
  position: absolute;
  display: block;
  top: 5%;
  left: 0;
  height: 90%;
  aspect-ratio: 1/10;
  cursor: pointer;
  opacity: 0;
  appearance: none;
  z-index: 2;
}
.dbvol__svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}
.dbvol__background {
  fill: var(--color-pre);
}
.dbvol__inner {
  fill: black;
  stroke: var(--color-main);
}
.dbvol__slider {
  transform: translateY(var(--y));
  transition: transform 0.1s ease-out;
  cursor: pointer;
}
.dbvol__slider > path:nth-child(3) {
  fill: var(--color-third);
}

.logs {
  background-color: var(--color-pre);
  width: 80%;
  height: 9.1rem;
  padding: 0.5rem;
  line-height: 1.2rem;
  white-space: pre-wrap;
  border-radius: 0.2rem;
}

.btn {
  flex: 1 1 1rem;
  position: relative;
  aspect-ratio: 1/1;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 100%;
  opacity: 0.6;
  cursor: pointer;
}
.btn:hover, .btn.active {
  opacity: 1;
}
.btn.active {
  cursor: default;
  pointer-events: none;
}
.btn.play {
  background-image: var(--btn-play);
}
.btn.play.active {
  background-image: var(--btn-play-active);
}
.btn.stop {
  background-image: var(--btn-stop);
}
.btn.stop.active {
  background-image: var(--btn-stop-active);
}
.btn.pause {
  background-image: var(--btn-pause);
}
.btn.pause.active {
  background-image: var(--btn-pause-active);
}

.programs.disabled {
  pointer-events: none;
  filter: saturate(0%);
  opacity: 0.5;
}

.instruments {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 1rem;
  width: 80%;
}
.instruments > .instrument {
  position: relative;
  width: 100%;
}
.instruments > .instrument .program {
  position: absolute;
  top: 0;
  left: -3rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.instruments > .instrument .light {
  position: absolute;
  top: 0;
  right: -3rem;
  height: 100%;
  aspect-ratio: 1/1;
  background-color: var(--color-pre);
  border-radius: 100%;
  overflow: hidden;
}
.instruments > .instrument .light::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--color-second);
  opacity: 0;
  transition: opacity 250ms ease-out;
}
.instruments > .instrument .light.active::after {
  transition: opacity 5ms ease-in;
  opacity: 1;
}
.instruments > .instrument > select {
  width: 100%;
  font-family: var(--font-family);
  background-color: var(--color-pre);
  color: var(--color-main);
  font-size: 1.2rem;
  scrollbar-width: thin;
  scrollbar-color: var(--color-hljs2) var(--color-hljs3);
}
.instruments > .instrument > select::-webkit-scrollbar {
  height: 0.2rem;
}
.instruments > .instrument > select::-webkit-scrollbar-track {
  background: var(--color-hljs3);
  border-radius: 0.1rem;
}
.instruments > .instrument > select::-webkit-scrollbar-thumb {
  background-color: var(--color-hljs2);
  border-radius: 0.1rem;
  border: 0.05rem solid var(--color-hljs3);
}
.instruments > .instrument > select::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-hljs1);
}
.instruments > .instrument > select > option {
  font-family: var(--font-family);
  background-color: var(--color-pre);
  color: var(--color-main);
  font-size: 1.2rem;
}
.instruments > .instrument > select > option:disabled {
  font-style: italic;
  font-weight: 700;
  color: var(--color-second);
}

iframe[src*="codepen.io"] {
  width: 100%;
  height: 16rem;
}
